In [13]:
from io import StringIO
import pandas as pd
import numpy as np
import operator

sessions = pd.read_parquet('../data/interim/sessions_new_sqr_flex_not_filtered.parquet')
user_profiles = pd.read_parquet('../data/raw/flex_perfiles_usuario.parquet')

 

data = StringIO("""
1610,2448,,,,,,,,
2445,2988,,,,,,,,
1497,1751,1752,1753,,,,,,
1522,1523,1799,,,,,,,
1798,2397,2992,2996,3905,,,,,
1595,1596,1626,1813,1814,,,,,
8026,8036,8226,8282,,,,,,
7991,7992,8049,,,,,,,
8031,8040,8052,8191,8328,,,,,
8032,8041,8053,8054,8329,,,,,
5519,5547,5554,5638,6133,8024,8027,8037,,
5525,5546,5548,5550,5639,6135,7845,8039,,
5710,5814,6964,,,,,,,
5707,5715,5747,6963,,,,,,
5746,5897,6055,6269,,,,,,
5745,5896,6021,6022,6054,,,,,
5844,5869,5878,5998,6060,6102,6611,6844,6845,7592
7593,6061,6843,6610,5843,6612,5845,5868,,
5888,5996,,,,,,,,
5956,6005,6006,,,,,,,
5964,6275,,,,,,,,
5966,6274,,,,,,,,
6014,6024,6078,,,,,,,
6039,6314,,,,,,,,
6115,6119,6335,,,,,,,
6228,6378,6606,6905,,,,,,
6629,6848,,,,,,,,
6249,6261,7854,,,,,,,
6497,6502,8200,,,,,,,
6569,6570,6756,,,,,,,
6614,6868,7719,8225,,,,,,
6613,6869,7718,,,,,,,
6628,6692,6753,6755,,,,,,
""")
profiles = pd.read_csv(data, header=None)
sessions['alejandro_profile'] = None

 

def f(r):
    sessions.loc[sessions['idPerfil'].isin(r.values[~np.isnan(r.values)]), 'alejandro_profile'] = r.name
    
def format_pressures(p):
    return ''.join(operator.itemgetter(0, 2, *range(4, 8))(p))

 

profiles.apply(f, axis=1)
aux = sessions[~sessions['alejandro_profile'].isna()].copy()
aux['pressures'] = aux['idPerfil'].apply(lambda x: format_pressures(user_profiles[user_profiles['idPerfiles'] == x].iloc[0].presiones))
aux['temporal_profile'] = aux.sort_values('fechaInicio').groupby(
    'alejandro_profile')['pressures'].apply(lambda x: (x.shift() != x).rolling(len(x), min_periods=1).sum())

In [15]:
tabla1 = aux.groupby(['alejandro_profile', 'temporal_profile']).agg({'pressures': np.max, 'sqr': np.mean})

In [16]:
tabla1.reset_index()['alejandro_profile'].value_counts()[tabla1.reset_index()['alejandro_profile'].value_counts() > 1].index

Int64Index([5, 12, 27, 25, 24, 31, 10, 11, 13, 16, 17, 18, 19, 20, 21, 23], dtype='int64')

In [17]:
tabla2 = tabla1.reset_index()[tabla1.reset_index()['alejandro_profile'].isin([5, 12, 27, 25, 24, 31, 10, 11, 13, 16, 17, 18, 19, 20, 21, 23])]

In [19]:
tabla2['configuracion2'] = tabla2['pressures']

In [20]:
tabla2

    alejandro_profile  temporal_profile pressures        sqr configuracion2
0                   5               1.0    022321  54.806296         022321
1                   5               2.0    000000  46.869593         000000
2                   5               3.0    012221  38.217778         012221
3                   5               4.0    122222  48.436435         122222
4                   5               5.0    012221  38.918137         012221
8                  10               1.0    122332  65.133793         122332
9                  10               2.0    012232  35.892428         012232
10                 11               1.0    123222  45.692213         123222
11                 11               2.0    122222  43.571443         122222
12                 12               1.0    122222  61.258148         122222
13                 12               2.0    122211  50.195206         122211
14                 12               3.0    022211  53.724454         022211
15                 13               1.0    123431  64.122135         123431
16                 13               2.0    123331  65.364942         123331
18                 16               1.0    012211  43.487271         012211
19                 16               2.0    122221  48.983882         122221
20                 17               1.0    022332  56.792969         022332
21                 17               2.0    122232  47.490835         122232
22                 18               1.0    002221  39.663704         002221
23                 18               2.0    012221  63.172296         012221
24                 19               1.0    022321  56.761111         022321
25                 19               2.0    122321  55.804492         122321
26                 20               1.0    123321  70.782521         123321
27                 20               2.0    123322  70.017103         123322
28                 21               1.0    112221  61.184368         112221
29                 21               2.0    112321  63.287743         112321
30                 23               1.0    123321  65.416607         123321
31                 23               2.0    201000  57.079217         201000
32                 24               1.0    001100  41.788333         001100
33                 24               2.0    012221  50.616176         012221
34                 24               3.0    122211  54.619150         122211
35                 25               1.0    122332  48.456562         122332
36                 25               2.0    444444  98.912500         444444
37                 25               3.0    122332  49.817735         122332
39                 27               1.0    000000  74.680000         000000
40                 27               2.0    012232  66.671122         012232
41                 27               3.0    123333  62.826371         123333
45                 31               1.0    122322  63.861124         122322
46                 31               2.0    122222  58.142485         122222

In [21]:
tabla2['magnitud'] = tabla2.groupby('alejandro_profile')['sqr'].apply(lambda x: (x - x.shift()))
tabla2['configuracion1'] = tabla2.groupby('alejandro_profile')['pressures'].apply(lambda x: (x.shift()))

In [22]:
tabla2['sqr_1'] = tabla2.groupby('alejandro_profile')['sqr'].apply(lambda x: (x.shift()))
tabla2['sqr_2'] = tabla2['sqr']

In [23]:
tabla3 = tabla2.dropna()[['alejandro_profile', 'configuracion1', 'sqr_1', 'configuracion2', 'sqr_2', 'magnitud']]
tabla3['mejora'] = tabla3['magnitud'] > 0

In [24]:
tabla3

,alejandro_profile,configuracion1,sqr_1,configuracion2,sqr_2,magnitud,mejora
1,5,022321,54.806296,000000,46.869593,-7.936703,False
2,5,000000,46.869593,012221,38.217778,-8.651816,False
3,5,012221,38.217778,122222,48.436435,10.218657,True
4,5,122222,48.436435,012221,38.918137,-9.518297,False
9,10,122332,65.133793,012232,35.892428,-29.241365,False
11,11,123222,45.692213,122222,43.571443,-2.120769,False
13,12,122222,61.258148,122211,50.195206,-11.062943,False
14,12,122211,50.195206,022211,53.724454,3.529248,True
16,13,123431,64.122135,123331,65.364942,1.242807,True
19,16,012211,43.487271,122221,48.983882,5.496611,True
21,17,022332,56.792969,122232,47.490835,-9.302134,False
23,18,002221,39.663704,012221,63.172296,23.508592,True
25,19,022321,56.761111,122321,55.804492,-0.956619,False
27,20,123321,70.782521,123322,70.017103,-0.765418,False
29,21,112221,61.184368,112321,63.287743,2.103375,True
31,23,123321,65.416607,201000,57.079217,-8.337390,False
33,24,001100,41.788333,012221,50.616176,8.827842,True
34,24,012221,50.616176,122211,54.619150,4.002974,True
36,25,122332,48.456562,444444,98.912500,50.455938,True
37,25,444444,98.912500,122332,49.817735,-49.094765,False
40,27,000000,74.680000,012232,66.671122,-8.008878,False
41,27,012232,66.671122,123333,62.826371,-3.844751,False
46,31,122322,63.861124,122222,58.142485,-5.718639,False